{% extends 'base.html' %}
{% load challenge_tags %}
{% block title %}Challenges{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/static/css/challenges/list.css"
{% endblock %}
{% block body %}
    <h4 class="page-title">CHALLENGES</h4>
    <div class="row">
    <div class="col s11">
    <ul class="tabs">
        <li class="tab col s4">
            <a target="_self" href="{% url 'challenges' %}">ALL</a>
        </li>
        {% for category in categories %}
        <li class="tab col s4">
            <a {% if current_category == category.0 %} class="active" {% endif %} target="_self" href="{% url 'challenges' %}?category={{ category.0 }}">
                {{ category.1 }}
            </a>
        </li>
        {% endfor %}
    </ul>
    </div>
    </div>
    <div class="row">
        {% for challenge in challenges %}
                <a href="{% url 'challenge' challenge.pk %}">
                <div class="col hoverable center-align prob z-depth-1 {% if request.user in challenge.solvers.all %}light-blue lighten-3{% endif %}">
                    <p class="prob-category">{{ challenge.get_category_display }}</p>
                    <p class="prob-title">{{ challenge.title|upper }}</p>
                    <p class="prob-score">{% get_challenge_score challenge request.user.age_type %} pts</p>
                </div>
                </a>
        {% endfor %}
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
    $(document).ready(function(){
        $('ul.tabs').tabs();
    })
    </script>
{% endblock %}