<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/materialize/css/materialize.min.css"/>
    <link rel="stylesheet" href="/static/css/base.css"/>
    <meta name="theme-color" content="#31474f">
    {% block head %}
    {% endblock %}
</head>
<body>
<nav>
    <div class="nav-wrapper blue-grey darken-3">
    <div class="container">
        <ul id="nav-mobile" class="left">
            <li>
                <a href="/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="{% url 'notices' %}">Notices</a>
            </li>
            <li>
                <a href="{% url 'challenges' %}">Challenges</a>
            </li>
            <li>
                <a href="{% url 'ranking' %}">Ranking</a>
            </li>

        </ul>
    <ul class="right">
        {% if request.user.is_staff %}
            <li>
        <a href="/admin" class="right">
            Admin
        </a>
            </li>
        {% endif %}
        <li>
        {% if request.user.pk %}
        <a href="{% url 'accounts:logout' %}" class="right">
            Logout
        </a>
        {% else %}
        <a href="{% url 'accounts:login' %}" class="right">
            Login
        </a>
        {% endif %}
    </li>
    </div>
    </div>
</nav>
<div class="container">
{% block body %}
{% endblock %}
</div>
</main>
<script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/static/materialize/js/materialize.min.js"></script>
{% block script %}
{% endblock %}
</body>
</html>
