{% extends 'base.html' %}
{% block title %}Ranking{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/ranking.css"/>
{% endblock %}
{% block body %}
    <h4 class="page-title">RANKING</h4>
    <div class="row">
    <div class="col s12">
    <ul class="tabs">
    <li class="tab col s3">
        <a target="_self" href="{% url 'ranking' %}">All</a>
    </li>
    {% for type in age_types %}
    <li class="tab col s3">
        <a {% if current_age == type.0 %} class="active" {% endif %} target="_self" 
            href="{% url 'ranking' %}?age={{ type.0 }}">
        {{ type.1 }}
        </a>
    </li>
    {% endfor %}
    </ul>
    </div>
    </div>
    <table>
    <thead>
        <tr>
            <th class="num">Ranking</th>
            <th class="name">User</th>
            <th class="score">Score</th>
        </tr>
    </thead>
    {% for user in users %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ user.name }}</td>
            <td>{% if user.score %}{{ user.score }}{% else %}0{% endif %}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
